body{
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
	margin: 0px;
	background-color: #fff;
	padding: 40px;
}

nav{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-li{
    font-size: 10px;
    width: 50px;
}

.menu-ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

.menu-li{
    margin: 20px;
}

.menu-link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
	line-height: 20px;
    
}

.menu-link:hover {
	color: #05a88d;
}

.menu-logo{
    font-weight: 600;
	text-decoration: none;
	color: #05a88d;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 29px;
}

.for-hover{
    text-decoration: none;
    color: #05a88d;
    font-size: 16px;
    line-height: 20px;
    padding: 13px 22px;
	border: 1px solid #fff;
	border-radius: 3px;
	border: 1px solid transparent;
}

.for-hover:hover {
	border: 1px solid #05a88d;
}