html{
    box-sizing: border-box;
  }
  *,*::before,*::after  
  {
  box-sizing: inherit ;
  }
  li{
   list-style: none;
  }
  a{
   text-decoration: none;
  }
  img{
   width: 100%;
   height: auto;
  }
  
  .wrapper{
    max-width: 1235px;
    margin: 0 auto;
  }
  .header{
    display: flex;
    justify-content: space-between;
    margin:29px 0px;
  }
  .header__logo-link{
    color: #000;
    text-align: center;
    font-family: 'Oswald';
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .header__list{
    display: flex;
    align-items: flex-end;
  }
  .header__link{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .header__link:hover{
   opacity: 0.5;
   transition: .15s;
  }
  .header__item{
    padding-right: 46px;
  }
  .header__item:last-child{
    padding-right: 0px;
  }
  
  .main__pic{
    background: url(https://images.unsplash.com/photo-1494415859740-21e878dd929d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80) , lightgray 50% / cover no-repeat;
    max-width: 100%;
    min-height: 660px;
    background-size: cover; 
    background-repeat: no-repeat;
    margin-bottom: 60px;
    background-position: bottom 25% center;
  }
  .main__pic-title{
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 267px;
    margin-bottom: 21px;
  }
  .main__pic-line{
    background-color: #817070;
    width: 80px;
    height: 10px;
    margin: 0 auto;
  }
  
  .main__story-title{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  .main__strory-box{
    display: flex;
  }
  .main__story-text{
    padding-left: 40px;
    max-width: 630px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    line-height: 30px;
  }
  .main__story-pic{
    max-width: 600px;
  }
  .main__story{
    margin-bottom: 60px;
  }
  
  .main__blog{
    background-color:#EFEFEF;;
  }
  .blog__title{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 60px 0px;
  }
  
  .blog__cards{
    display: flex;
  }
  .blog__card{
    width: 365px;
    background-color: white;
    margin-left: 70px;
  }
  .blog__card:first-child{
    margin-left: 0px;
  }
  .card__wrapper{
    max-width: 325px;
    margin: 0 auto;
  }
  .blog__card-title{
    padding: 20px 0px 24px 0px;
    color: #000;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
  }
  .blog__card-pic{
    padding-bottom: 24px;
  }
  .blog__card-text{
    padding-bottom: 46px;
    color: #000;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
  }
  .blog__card:hover{
    cursor: pointer;
    background-color: #817070;
    transition: .25s;
    .blog__card-text{
      color: #FFF;
    }
    .blog__card-title{
      color: #FFF;
    }
  }
  .main__blog{
    padding-bottom: 65px;
  }
  
  .footer{
    background-color: #817070;
    text-align: center;
    padding-top: 60px;
  }
  .footer__sub{
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .footer__input{
    background-color: #817070;
    padding: 10px 95px 12px 95px;
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    border: 3px solid #fff;
    margin-bottom: 28px;
  }
  .footer__input::placeholder{
    color: #FFF;
  }
  .footer__btn{
    background-color: white;
    padding: 13px 34px;
    color: #817070;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    margin-bottom: 70px;
  }
  .footer__btn:hover{
    background-color: #ebeaea;
    transition: .15s;
    cursor: pointer;
  }
  .rights{
    padding-top: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  .rights__text{
    color: #000;
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }


